//Fonts
@import "fonts/fonts";
@import "variables";

:global(body),
:global(html) {
  height: 100%;
  min-height: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

:global(body) {
  background-color: rgb(249, 249, 249);
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  font-family: "Noto Sans KR", sans-serif, 나눔고딕, 돋움, Dotum, 굴림, Gulim,
    "Apple SD Gothic Neo" !important;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
